# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/
s
# Git config / SSH
.gitconfig
.ssh/

# Data
data/
mock_test/

# Vector database
db/

# Model files
models/
*.safetensors
*.bin

# OS
.DS_Store
Thumbs.db

.streamlit/